
:root {
  --spacer: 3rem;
  --box-shadow: 0.3rem 0.3rem 1.5rem rgb(0, 0, 0, 0.15);

}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.5;
}

h1,
h2,
h3,
p,
figure {
  margin: 0;
  padding: 0;
}

/* Utilities */
ul[class],
ol[class] {
  padding: 0;
  margin: 0;
  list-style: none;
}

.flow-content > * + * {
  margin-top: var(--flow-spacer, var(--spacer));
}
body{
  font-size: 1.8rem;
  margin: auto;
}
.nav-bar{
  display: flex;
  justify-content: space-between;
  margin: 4.1rem auto 6.5rem;
}
.nav-link--menu{
  margin: 0 17px;
  margin-top: 20px;
  color: #F5F5F5;
  font-family: 'Poppins', sans-serif;
  display: inline-block;
  font-size: 30px;
  cursor: pointer;

}
.back-link{
    position: absolute;
width: 450px;
height: 80px;
left: 1142px;
top: 0;
background: #265828;
}
.nav-link--menu a{
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    color: #F5F5F5;
    
  text-decoration: none;
}

h1{
  font-family: 'Poppins', sans-serif;
  
  font-size: 64px;
  margin-bottom: 20px;
    letter-spacing: 6px;
    margin-left: 20px;
    margin-bottom: 80px;
    font-weight: 400;
    line-height: 190px;
    color: #9F2305;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
h3{
  font-family: 'Poppins', sans-serif;
}
.header-2{
  position: absolute;
width: 900px;
height: 71px;
margin-left: 250px;
top: 2030px;
font-family: 'Oswald', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 48px;
line-height: 71px;

color: #000000;

}
.header-3{
  position: absolute;
width: 700px;
height: 71px;
left: 149px;
top: 3931px;
font-family: 'Oswald', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 71px;

color: #000000;
}
.sub-left{
position: absolute;
color: #e0d7d4;
font-size: 30px;
line-height: 44px;
font-weight: 700;
margin-top: 10px;
margin-bottom: 20px;
margin-left: 220px;
margin-bottom: 40px;
}
.sub-right{
  position: absolute;
color: black;
font-size: 30px;
line-height: 44px;
font-weight: 700;
margin-top: 10px;
margin-bottom: 20px;
margin-left: 2rem;

}
.sub-header-3{
  position: absolute;
  font-family: 'Oswald', sans-serif;
width: 500px;
height: 71px;
margin-left: 550px;
top: 1342px;
font-weight: 700;
font-size: 48px;
line-height: 71px;
text-align: center;

color: #000000;
}
.sentence-3{
  position: absolute;
width: 500px;
height: 58px;
margin-left: 680px;
top: 1418px;
font-weight: 400;
font-size: 24px;
line-height: 29px;
font-family: 'Lora', serif;
font-style: normal;

color: #000000;

}
.sentence-4{
  position: absolute;
 margin-top: 20px;
width: 500px;
height: 216px;
margin-left: 680px;
top: 1498px;

font-family: 'Lora', serif;
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 24px;

color: #000000;

}
.sub-header-5{
  position: absolute;
width: 200px;
height: 36px;
margin-left: 550px;
top: 1994px;

font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 36px;
color: #57886C;
}
.sub-header-6{
  position: absolute;
width: 400px;
height: 71px;
left: 59px;
top: 2988px;

font-family: 'Oswald', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 71px;

color: #FFFFFF;
}
.sentence-6{
  position: absolute;
width: 417px;
height: 196px;
left: 380px;
top: 2219px;

font-family: 'Lora', serif;
font-style: normal;
font-weight: 300;
font-size: 23px;
line-height: 28px;

color: #000000;
}
.sentence-7{
  position: absolute;
width: 417px;
height: 196px;
left: 1131px;
top: 2219px;

font-family: 'Lora', serif;
font-style: normal;
font-weight: 300;
font-size: 23px;
line-height: 28px;

color: #000000;
}
.sentence-8{
  position: absolute;
width: 417px;
height: 196px;
left: 380px;
top: 2548px;
margin-top: 10px;
font-family: 'Lora', serif;
font-style: normal;
font-weight: 300;
font-size: 23px;
line-height: 28px;

color: #000000;
}
.sentence-9{
  position: absolute;
width: 417px;
height: 196px;
left: 1132px;
top: 2552px;
margin-top: 10px;
font-family: 'Lora', serif;
font-style: normal;
font-weight: 300;
font-size: 23px;
line-height: 28px;

color: #000000;
}
.sentence-2{
  position: absolute;
  margin-top: 100px;
  width: 463px;
height: 153px;
  font-weight: 300;
font-size: 20px;
line-height: 24px;
text-align: right;
color: #000;
}
.sentence{
  position: absolute;
  margin-top: 100px;
  width: 463px;
height: 153px;
  font-weight: 300;
font-size: 20px;
line-height: 24px;
text-align: right;
color: #ffff;

}
.btn-2{
  position: absolute;
  width: 172px;
  height: 67px;
  border: 2px solid #000000;
  color: #000000;
  font-size: 20px;
  font-weight: 300;
  background-color: #fff;
  margin-top: 30rem;
  margin-left: 6rem;
}
.btn{
  position: absolute;
  width: 172px;
  height: 67px;
  border: 2px solid #000000;
  color: #000000;
  font-size: 20px;
  font-weight: 300;
  background-color: #9F2305;
  margin-top: 30rem;
  margin-left: 30rem;

}
.btn:hover{
  background-color: #DDD8B8;
}
.btn-2:hover{
  background-color: #9F2305;
}

.container-2{
  position: absolute;
  box-sizing:border-box;
  width: 530px;
height: 423px;
top: 868px;
  margin-left: 110px;
  background: #9F2305;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.container-3{
  box-sizing:border-box;
  position: absolute;
width: 529px;
height: 423px;
margin-left: 640px;
top: 868px;

background: #DDD8B8;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container{
  width: 1592px;
  height: 5532px;
  position: relative;
  background-color: #e0d7d4;
  margin: 0 auto;
}
.img-background{
  background-image: url('image 8.png');
  background-repeat: no-repeat;
}
.img-background:hover{
  background-image: url('image 9.png');
  background-repeat: no-repeat;
}
.img-2{
  position: absolute;
width: 533px;
height: 407px;
left: 285px;
top: 1339px;

}
.wrapper{
  width: 1240px;
  margin: 0 auto;
}
h2{
  font-size: 26px;
  font-family: 'Lora', serif;
  color:#ffff;
  font-weight: 400;
}

.subheader{
  width: 44%;
  margin-bottom: 20px;
}
.button, input[type="submit"]{
  font-family: 'Poppins', sans-serif;
  margin: 20px;
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;

  color: #000000;
  font-size: 20px;
  background: #DDD8B8;
  padding: 10px 20px 10px 20px;
  margin-left: 0;
  text-decoration: none;
  border: none;
}
.step1{
  position: absolute;
width: 150px;
height: 60px;
left: 250px;
top: 2144px;

font-family: 'Oswald', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 53px;
background-color: #9F2305;
padding-top: 5px;
padding-bottom: 5px;
padding-left: 30px;
padding-right: 8px;

color: #FFFFFF;
}
.step2{
    position: absolute;
  width: 150px;
  height: 60px;
  left: 1000px;
  top: 2144px;
  
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 53px;
  background-color: #9F2305;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 8px;
  
  color: #FFFFFF;
}
.step3{
  position: absolute;
width: 150px;
height: 60px;
left: 250px;
top: 2489px;
font-family: 'Oswald', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 53px;
background-color: #9F2305;
padding-top: 5px;
padding-bottom: 5px;
padding-left: 30px;
padding-right: 8px;

color: #FFFFFF;
}
.step4{
  position: absolute;
  width: 150px;
  height: 60px;
  left: 1000px;
  top: 2489px;
  
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 53px;
  background-color: #9F2305;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 8px;
  
  color: #FFFFFF;
}
.img-step1{
  position: absolute;
width: 251px;
height: 228px;
margin-left: -70px;
top: 2175px;
background: #D9D9D9;
}
.img-step2{
  position: absolute;
width: 251px;
height: 228px;
left: 860px;
top: 2175px;
}
.img-step3{
  position: absolute;
width: 251px;
height: 228px;
left: 110px;
top: 2516px;
}
.img-step4{
  position: absolute;
width: 251px;
height: 228px;
left: 860px;
top: 2516px;
}
.bg-green{
  position: absolute;
width: 1590px;
height: 907px;
left: 1px;
top: 2963px;
}
.bfly1{
  position: absolute;
width: 757px;
height: 396px;
left: 0px;
top: 4148px;
}
.bfly2{
  position: absolute;
width: 400px;
height: 396px;
left: 791px;
top: 4148px;

}
.bfly3{
  position: absolute;
width: 367px;
height: 396px;
left: 1224px;
top: 4148px;
}
.bfly4{
  position: absolute;
width: 894px;
height: 396px;
left: 0px;
top: 4570px;
}
.bfly5{
  position: absolute;
width: 654px;
height: 396px;
left: 937px;
top: 4570px;
}
